<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TENNIS Tribute</title>
</head>

<body>
    <h1>tennis tribute page</h1>
    <p>Tennis, original name lawn tennis, game in which two opposing players (singles) or pairs of players (doubles) use
        tautly strung rackets to hit a ball of specified size, weight, and bounce over a net on a rectangular court.
        Points are awarded to a player or team whenever the opponent fails to correctly return the ball within the
        prescribed dimensions of the court. Organized tennis is played according to rules sanctioned by the
        International Tennis Federation (ITF), the world governing body of the sport.</p>
    <a href="https://es.wikipedia.org/wiki/Tenis">go to tennis wiki</a>

    <h2>rafael nadal</h2>
    <p>June 3, 1986, Manacor, Mallorca, Spain), Spanish tennis player who emerged in the early 21st century as one of
        the game’s leading competitors, especially noted for his performance on clay. He won a record 13 career French
        Open championships, and his total of 20 men’s singles Grand Slam titles was tied for the most in tennis history.
    </p>
    <a href="https://en.wikipedia.org/wiki/Rafael_Nadal">go to rafael nadal wiki</a>

    <h2>roger federer</h2>
    <p>Roger Federer was among his country's top junior tennis players by age 11. He turned pro in 1998, and with his
        victory at Wimbledon in 2003 he became the first Swiss man to win a Grand Slam singles title. Federer has won a
        record-setting 20 Grand Slam singles championships. In July 2017, the tennis star won a record-breaking eighth
        Wimbledon title, at the age of 35.</p>
    <a href="https://simple.wikipedia.org/wiki/Roger_Federer">go to Roger federer wiki</a>

    <h2>novak djokovic </h2>
    <p>Novak Djokovic began playing tennis at age 4 and was sent to train in Germany at age 13. After a steady ascent to
        the top levels of the sport, he won the Australian Open in 2008 and led the Serbian national team to its first
        Davis Cup win in 2010. In 2011, he claimed three of four Grand Slams and compiled a 43-match winning streak en
        route to the world's No. 1 ranking. With his first French Open win in 2016, he became the first man since Rod
        Laver in 1969 to hold all four major titles at once.</p>
    <a href="https://en.wikipedia.org/wiki/Novak_Djokovic">go to novak djokovic</a>
</body>

</html>